.content__item--BSA:hover,
.content__item--PHP:hover,
.content__item--Blog:hover {
  transform: rotateY(180deg);
}
.content__item__back--BSA,
.content__item__back--PHP,
.content__item__back--Blog {
  transform: rotateY(180deg);
}

.content__item--QA:hover,
.content__item--NET:hover,
.content__item--Events:hover {
  transform: rotateX(180deg);
}
.content__item__back--QA,
.content__item__back--NET,
.content__item__back--Events {
  transform: rotateX(180deg);
}

.content__item--JS:hover,
.content__item--JAVA:hover,
.content__item--Contacts:hover {
  transform: rotateX(-180deg);
}
.content__item__back--JS,
.content__item__back--JAVA,
.content__item__back--Contacts {
  transform: rotateX(-180deg);
}
