.content-wrapper {
  min-height: calc(
    100vh - 165px
  ); /*Використав прийом "sticky footer" (css-tricks.com/couple-takes-sticky-footer/#there-is-calc-reduced-height-wrappers)*/
}

.content {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(16, 1fr);
  margin-top: 45px;
  margin-bottom: 45px;
  height: 34vw;
}

.content__item {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: transparent;
  perspective: 1000px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.content__item__front,
.content__item__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/*to align inner tags*/
.content__item__front {
  display: grid;
  align-items: center;
  justify-items: center;
  user-select: none;
}

.content__item__back {
  padding: 10px 10px 10px 15px;
  line-height: 1.2;
  font-size: 1.5vw;
  font-style: normal;
  overflow: auto;
  background-color: var(--site-backgrount);
  color: #110a07;
  font-weight: bold;
}

.content__item--BSA {
  grid-area: 1 / 1 / 6 / 5;
}

.content__item--BSA > img {
  height: 10vw;
}

.content__item__back--BSA {
  display: grid;
  align-items: center;
  justify-items: center;
}

.BSA-button {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  font-size: 2.5vw;
  color: var(--site-backgrount);
  background-color: #288ffe;
  border: none;
  outline: none;
  font-weight: bold;
}

.BSA-button:hover {
  background-color: #033a9b;
}

.content__item--QA {
  grid-area: 6 / 1 / 12 / 5;
  font-size: 6vw;
  color: var(--site-backgrount);
  background-color: #52bf77;
}

.content__item--JS {
  grid-area: 1 / 5 / 9 / 9;
  background-color: #f7cf69;
}

.content__item__front--JS {
  align-items: end;
  justify-items: end;
  font-size: 9vw;
  font-weight: bold;
}

.content__item--JAVA {
  grid-area: 9 / 5 / 12 / 9;
  font-size: 3vw;
  color: var(--site-backgrount);
  background-color: #e12b4c;
}

.content__item--PHP {
  grid-area: 1 / 9 / 5 / 17;
  font-size: 5.8vw;
  font-style: italic;
  background-color: #8893c0;
}

.content__item--NET {
  grid-area: 5 / 9 / 12 / 14;
  font-size: 6vw;
  color: var(--site-backgrount);
  background-color: #642077;
}

.content__item--Events {
  grid-area: 5 / 14 / 8 / 17;
  font-size: 1.5vw;
  color: var(--site-backgrount);
  background-color: #2d99ff;
}

.content__item--Blog {
  grid-area: 8 / 14 / 11 / 17;
  font-size: 1.5vw;
  color: var(--site-backgrount);
  background-color: #0443a3;
}

.content__item--Contacts {
  grid-area: 11 / 14 / 12 / 17;
  font-size: 1.5vw;
  color: var(--site-backgrount);
  background-color: #00265f;
}

.content__item__back--Contacts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--site-backgrount);
  overflow: hidden;
}

.contacts__button {
  text-decoration: none;
}

.contacts__button:hover {
  color: #2574d1;
}

.content__item__back--Events,
.content__item__back--Blog,
.content__item__back--Contacts {
  font-size: 1.2vw;
}

@media (max-width: 970px) {
  .content {
    height: 90vw;
  }

  .content__item--BSA {
    grid-area: 1 / 1 / 6 / 7;
  }

  .content__item--BSA > img {
    height: 23vw;
  }

  .BSA-button {
    font-size: 4vw;
  }

  .content__item--JAVA {
    grid-area: 6 / 1 / 9 / 9;
    font-size: 4.5vw;
  }

  .content__item--QA {
    grid-area: 9 / 1 / 12 / 9;
  }

  .content__item--JS {
    grid-area: 1 / 7 / 6 / 13;
  }

  .content__item--PHP {
    grid-area: 6 / 9 / 9 / 17;
    font-size: 6vw;
  }

  .content__item--NET {
    grid-area: 9 / 9 / 12 / 17;
  }

  .content__item__back--QA,
  .content__item__back--JS,
  .content__item__back--JAVA,
  .content__item__back--PHP,
  .content__item__back--NET {
    font-size: 3.5vw;
  }

  .content__item__back--Events,
  .content__item__back--Blog,
  .content__item__back--Contacts {
    font-size: 2vw;
    line-height: 1.4;
  }

  .content__item--Events {
    grid-area: 1 / 13 / 3 / 17;
    font-size: 2.3vw;
  }
  .content__item--Blog {
    grid-area: 3 / 13 / 5 / 17;
    font-size: 2.3vw;
  }
  .content__item--Contacts {
    grid-area: 5 / 13 / 6 / 17;
    font-size: 2.3vw;
  }
}
