.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  animation-name: slide_down;
  animation-duration: 400ms;
  animation-timing-function: linear;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  display: block;
  height: 42px;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user__bell {
  color: #bec9da;
  margin-right: 30px;
}

.header__user__bell:hover {
  color: #939ba7;
  cursor: pointer;
}

.header__user__avatar {
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: #f88b0c;
  text-align: center;
  font-size: 25px;
  line-height: 38px;
  color: white;
  user-select: none;
}

.header__user__avatar:hover {
  background-color: #fd8001;
}

/*used "checkbox-trick" for toggling (css-tricks.com/the-checkbox-hack)*/
input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type="checkbox"]:checked ~ .header__user__popup {
  display: block;
  position: absolute;
  top: 56px;
  right: calc(100% - 85%);
}

.header__user__popup {
  display: none;
  padding: 14px 20px 14px 20px;
  background-color: white;
  width: 170px;
  box-shadow: 1px 1px 3px 0 rgba(105, 105, 105, 1);
}

.header__user__popup__name {
  color: #b3bbc4;
  text-align: center;
}

.header__user__popup__dash {
  margin-top: 2px;
  height: 1px;
  border: none;
  background-color: #b3bbc4;
}

.header__user__popup__nav {
  display: flex;
  flex-direction: column;
}

.header__user__popup__nav__item {
  color: inherit;
  text-decoration: none;
  padding-top: 6px;
  font-weight: bold;
}

.header__user__popup__nav__item:hover {
  background-color: #f9f9fe;
}

.header__user__popup__nav__item__icon {
  margin-right: 8px;
}

@keyframes slide_down {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 970px) {
  input[type="checkbox"]:checked ~ .header__user__popup {
    right: calc(100% - 95%);
  }
}
