.messages {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  width: 230px;
  overflow: auto;
}

.messages__item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 13px;
  padding-right: 10px;
  margin-top: 14px;
  opacity: 0.94;
  color: var(--site-backgrount);
}

.messages__item:hover {
  filter: brightness(90%);
}

.messages__item--success {
  background-color: #77b676;
}

.messages__item--error {
  background-color: #cc615a;
}

.messages__item--warning {
  background-color: #faa045;
}

.messages__item__icon {
  margin-right: 20px;
  color: white;
}

.messages__item__content {
  display: flex;
  flex-direction: column;
  padding: 12px 13px 12px 0;
}

.messages__item__content__header {
  font-weight: bold;
  margin: 0;
}
